* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cinzel', serif;

  background-image: url("wood-background.jpg");
  background-color: saddlebrown;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  margin-bottom: 30px;

  font-size: 2.5rem; /* 40px */
  text-align: center;

  text-shadow: 0 4px 8px rgba(0,0,0, 0.7);
}

hr {
  border-color: black;
  max-width: 30vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, 390px);
  justify-content: center;
}

.die {
  margin: 35px 0;
  max-width: 390px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: baseline;
}
  span {
    font-size: 3rem; /* 48px */
    margin: 12px;

    grid-row-start: 1;
  }
    span:nth-of-type(even) {

      grid-row-start: 2;
      grid-column-start: 2;
      grid-column-end: 5;
    }
  .die input {
    width: 5rem;
    padding: 12px;
    font-family: 'Cinzel', serif;
    font-size: 2rem; /* 28px */
    text-align: center;

    grid-row-start: 1;
  }
    input[type=number]::-webkit-inner-spin-button {
      height: 50px;
    }

button[type='button'] {
  margin-top: 10px;
  padding: 15px;
  font-family: 'Cinzel', serif;
  font-size: 1.75rem; /* 28px */

  grid-column-start: 1;
  grid-row-start: 2;
}
  button:active {
    box-shadow: 0 0 8px black inset;
    animation: press 40ms;
  }
    @keyframes press {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(5px);
      }
    }

  /* ----- STYLE CLASSES ----- */

.text-theme {
  text-shadow: 0 4px 6px rgba(0,0,0, 0.75);
}

.box-theme {
  box-shadow: 0 4px 6px rgba(0,0,0, 0.75);
  border-radius: 7px;
}

  /* ----- MEDIA QUERIES ----- */

  @media screen and (min-width: 950px) {

    h1 {
      font-size: 3.5rem;
    }

  }