* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cinzel', serif;

  background-image: url("wood-background.jpg");
  background-color: saddlebrown;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  margin-bottom: 30px;

  font-size: 2.5rem; /* 40px */
  text-align: center;

  text-shadow: 8px 4px 8px rgb(30,30,30);
}

hr {
  border-color: black;
  max-width: 30vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.die {
  margin-bottom: 30px;
  margin-left: 4vw;
  margin-right: 4vw;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}
  span {
    font-size: 3rem; /* 36px */
    margin: 12px;

    grid-row-start: 1;
  }
    span:nth-of-type(even) {
      font-size: 3rem; /* 36px */

      grid-row-start: 2;
      grid-column-start: 1;
      grid-column-end: 4;
    }
  input {
    max-width: 20vw;
    padding: 15px;
    font-family: 'Cinzel', serif;
    font-size: 2rem; /* 28px */
    text-align: center;

    border-radius: 7px;

    grid-row-start: 1;
  }
    input[type=number]::-webkit-inner-spin-button {
      height: 50px;
    }
  button {
    padding: 15px;
    font-family: 'Cinzel', serif;
    font-size: 1.75rem; /* 28px */

    border-radius: 7px;
    grid-row-start: 1;
  }
    button:active {
      box-shadow: 0 0 8px black inset;
    }

  /* ----- STYLE CLASSES ----- */

.text-shadow {
  text-shadow: 4px 4px 6px black;
}

.box-shadow {
  box-shadow: 4px 4px 6px rgb(40,40,40);
}

  /* ----- MEDIA QUERIES ----- */

@media screen and (min-width: 750px) {

  .die {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.75fr;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
  }
  span:nth-of-type(even) {
    grid-row-start: 1;
    grid-column-start: 4;
    grid-column-end: 4;
  }

}


@media screen and (min-width: 920px) {

  h1 {
    font-size: 3.5rem;
  }

  .text-shadow {
    text-shadow: 4px 4px 10px rgb(40,40,40);
  }
  
  .box-shadow {
    box-shadow: 8px 4px 6px rgb(40,40,40);
  }

}